.notice {
  width: 790px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 10px;
}

.head {
  background-color: #38a3cd;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.3);
}

.head div {
  display: inline-block;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}

.head div img {
  margin-right: 10px;
}

.head .title {
  width: 70%;
  text-align: left;
}

.head .title .logo {
  width: 30px;
  height: 30px;
}

.head .btn {
  width: 15%;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.head .btn:hover {
  transform: scale(1.1);
}

.head .btn img {
  visibility: hidden;
  margin-bottom: 3px;
}

.head .btn-selected {
  color: white;
}

.head .btn-selected img {
  visibility: visible;
}

.section {
  height: 150px;
  /* display: flex; */
  /* flex-direction: row; */
}

.section .loading {
  box-sizing: border-box;
  width: 100%;
  line-height: 150px;
}

.section .notice-board {
  box-sizing: border-box;
  width: 100%;
  padding: 2px 25px;
  text-align: left;
  margin: 10px 0;
  cursor: pointer;
}

.section .notice-board div {
  margin-bottom: 20px;
}

.section .notice-board .title {
  font-weight: bold;
}

.section .notice-board .contents,
.section .notice-board .footer {
  color: #aeaeae;
}

.section .notice-board .contents {
  font-size: 13px;
  max-height: 45px;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section .notice-board .footer {
  font-size: 15px;
}

.section .notice-board .footer div {
  display: inline-block;
}

.section .notice-board .footer .date {
  width: 80%;
}

.section .notice-board .footer .date img {
  margin-right: 10px;
}

.section .notice-board .footer .view {
  width: 20%;
  text-align: right;
}

button {
  outline: none;
  width: 25%;
  background: inherit;
  border: none;
  border-right: 1px solid #e9e9e9;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button:last-child {
  border: none;
}

.popup-content {
  background: none !important;
  border: none !important;
}

/********************모바일********************/
@media (max-width: 736px) {
  .notice {
    width: 310px;
  }

  .head {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .head div img {
    margin-right: 10px;
  }

  .head .title {
    width: 100%;
    text-align: center;
  }

  .head .btn {
    width: 50%;
    text-align: center;
  }

  button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
  }

  .section {
    margin-bottom: 40px;
  }

  .section .notice-board {
    padding: 0 20px;
  }

  .section .notice-board div {
    display: inline-block;
    text-align: center;
  }

  .section .notice-board .title,
  .section .notice-board .footer,
  .section .notice-board .footer .date {
    margin: 0;
  }

  .section .notice-board .title,
  .section .notice-board .footer {
    width: 50%;
  }

  .section .notice-board .title {
    font-size: 14px;
  }

  .section .notice-board .contents {
    display: none;
  }

  .section .notice-board .footer .date {
    width: 100%;
  }
}